E2_Libros/4_2_Libros.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Libro">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Titulo" type="string"/>
				<xsd:element name="Autores" type="string" maxOccurs="5"/>
				<xsd:element name="Editorial" type="string"/>
			</xsd:sequence>
			<xsd:attribute name="precio" type="xsd:double"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>