E3_Tiendas/4_3_Tiendas.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Tiendas">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nombre" type="string"/>
				<xsd:element name="localizacion" type="string" maxOccurs="10"/>
				<xsd:element name="jefe" type="string"/>
			</xsd:sequence>
		<xsd:attribute name="tipo" type="string"/>	
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
